<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit task</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top justify-content-between">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="/"><img src="https://img.icons8.com/color/48/000000/todo-list.png" style="width: 30px; height: 30px"></a>
            <li class="nav-item">
                <a class="nav-link" href="/tasks">Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tasks/new">Add</a>
            </li>
        </ul>
        <form class="form-inline" action="/tasks/search" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="naam">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</header>
<div class="d-flex justify-content-center">
    <main class="w-75 mt-3">
        <form th:action="${'/tasks/edit/' + task.id}" method="post" class="w-100">
            <div class="form-group">
                <label for="Naam">Naam</label>
                <input type="text" id="Naam" name="naam" required class="form-control" th:value="${task.naam}">
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea id="Description" name="description" required class="form-control" style="resize: none" th:text="${task.description}"></textarea>
            </div>
            <div class="form-group">
                <label for="Datum">Due date</label>
                <input type="datetime-local" id="Datum" name="datum" required class="form-control" value="${task.datum}">
            </div>
            <input type="Submit" value="Change" class="btn btn-primary mb-2">
        </form>
    </main>
</div>
</body>
</html>